*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.container{
  width: 80%;
  border: 1px red solid;
  border-radius: 4px;
  margin:10px auto;
  height: 80vh;
}
#quote
{

}
#auther
{
  
}
